[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
flake8 = "*"
pep8 = "*"
twine = "*"
